@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ion Istrati's project</h1>
    <p>Be ready to be amazed (<i>E prima data cand fac proiect in ASP.NET Core, deci scuze pentru simplitate :3</i>)</p>
</div>
